#thongtinmuahang{
    width: 500px;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
    background-color:#fff;
}
th {
    background-color: black;
    color: white;
}